modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "niviopay2024"
STREAM_API_KEY = "ex433j6xbbbc"
ENCRYPTION_KEY = "1a437e37188fba820a8507be2e2890a1ceb5d1ff58af8f62d8ab733414eb43b8"
ADMIN_ENGAGEMENTS_ACCESS_KEY = "EK-9594E55C"
ADMIN_USERS_ACCESS_KEY = "UK-C052E96E"
